html{
  height: 100%;
}

body{
  background: rgb(167, 160, 160);
  height: 100%;
}

.container{
  display: grid;
  height: 95%;
  grid-template-rows: 40px 40px 40px 40px;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

header{
  background: aqua;
  text-align: center;
  grid-column-start:1;
  grid-column-end:6;
}

.sidebar{
  grid-row-start:2;
  grid-row-end:4;
  grid-column-start:1;
  grid-column-end:3;
  background: green;
}

.main{
  background: hotpink;
  grid-row-start:2;
  grid-row-end:4;
  grid-column-start:3;
  grid-column-end:6;
}

footer{
  background: lightcoral;
  grid-column-start:1;
  grid-column-end:64;
}