* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: #ff1b68;
  width: 100%;
  border: 10px black solid;
  padding: 10px;
  height: 528px;
  /* This gives the h1 element 100% height of the #product overview section */
  /* height: 100%; */
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

.section-title {
  color: #2ddf5c;
}

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
  border: 10px black solid;
}
