* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background:url(./img1.jpeg) center center/cover no-repeat;
  width: 100%;
  border: 10px black solid;
  padding: 10px;
  height: 528px;
  /* This gives the h1 element 100% height of the #product overview section */
  /* height: 100%; */
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

.section-title {
  color: #2ddf5c;
}

.main-header {
  width: 100%;
  background: #0a3751;
  padding: 8px 16px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 70px);
  vertical-align: middle ;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: green;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
.main-nav__items {
    
  margin: 0;
  padding: 0;
  list-style: none;
  }

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
  }

.main-nav__item a {
  text-decoration: none;
  color: green;
  padding: 7px;
  }


.main-nav__item a:hover,
.main-nav__item a:active{
  color: white;
  font-weight: bold;

  border-bottom: 3px solid black;
}

.main-nav__item--cta a{
  color: white;
  background: rgb(9, 199, 53);
  padding: 8px 16px;
  border-radius: 8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
background-color: white;
color:black;
border: none;
}